div.livro{
    border: 1px solid;
    width: 23%;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 250px;
    padding: 10px;
  }

  div.info_livro{
    display: inline-flex;
    justify-content: space-between;
  }

  div.livro h3{
    height: 100px;
  }

  div.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0px
  }

  button.excluir{
    color: white;
    background-color: red;
    border: 0;
    border-radius: 100%;
    width: 25px;
    height: 25px;
  }